/*#div_content_data_filter{z-index: 7;top:0%;left:0%;width:100%;height:100%;background:#7ea2ce;}*/
#div_content_data_filter{z-index: 7;top:0%;left:0%;width:100%;height:100%;background:white;}

#div_contentx_container2{z-index: 8;top:4%;right:10%;width:30%;height:9%;border:1px;border-style:solid;border-color: rgb(0,0,0);}
#div_content_freesearch2{z-index: 8;top:3%;left:2%;width:96%;height:32%;}
#div_content_last2{z-index: 8;top:36%;left:2%;width:96%;height:32%;}
#div_content_clearallfilters2{z-index: 8;top:69%;left:2%;width:96%;height:30%;}



#div_content_data_filter_head               {z-index: 7;top:5%;left:25%;width:25%;height: 10%;background:white;/*#7ea2ce*/}
#div_content_data_filter_ecosystemservice   {z-index: 7;top:12%;left:5%;width:25%;height: 87%;background:white;/*#7ea2ce;/*overflow:hidden;*/}
#div_content_data_filter_biome              {z-index: 7;top:12%;left:35%;width:40%;height:87%;background:white;/*#7ea2ce*/}
#div_content_data_filter_spatialscale       {z-index: 7;top:12%;left:70%;width:25%;height:41%;background:white;/*#7ea2ce*/}
#div_content_data_filter_studypurpose       {z-index: 7;top:60%;left:70%;width:25%;height:40%;background:white;/*#7ea2ce*/}
#div_content_data_filter_run                {z-index: 8;top:5%;left:5%;width:10%;
                                             /*height:3%;*/
                                             height:20px;
                                             padding:10px;
                                             background:#5182bd;
                                            font-size:18px;
                                            text-align:center;
                                            color:#eeeeee;
                                            cursor:pointer;
                                            border-color:#5751bd;
    border-style:solid;
    border-width:2px;
                                             }
.filter_table_header
{
    font-size:16px;
    font-weight:bold;
}
.filter_table_main
{
 font-size:13px;   
}
.filter_table_row1
{
    font-size:11px;
    height: 11px;
}
.filter_table_row2
{
    font-size:11px;
    height: 11px;
}
